.product_wrap
.product_top_wrap
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.product_img_block
	width: 100%
	order: 1
	margin-bottom: 2rem




.product_main_img_wrap
	position: relative
	margin-bottom: 2rem

	&::before
		content: ''
		display: block
		padding-top: 100%


.product_label_list
	position: absolute
	top: 5px
	right: 0

.product_label
	position: relative
	display: block
	width: 45px
	height: 22px
	font-size: .85rem
	//font-weight: 600
	line-height: 22px
	text-align: center
	margin-bottom: 2px
	z-index: 3
	color: #fff
	&::before
		content: ""
		border-width: 11px 0px 11px 6px
		border-style: solid
		width: 0px
		height: 0px
		position: absolute
		left: -6px
		top: 0px
.product_label.hit
	background-color: $hit
	&::before
		border-color: $hit $hit $hit transparent

.product_label.sale
	background-color: $sale
	&::before
		border-color: $sale $sale $sale transparent

.product_label.new
	background-color: $new
	&::before
		border-color: $new $new $new transparent

.product_main_img_link
	position: absolute
	inset: 0
	display: flex

.product_main_img
	width: auto
	max-width: 98%
	height: auto
	max-height: 98%
	margin: auto

.product_maker_logo_wrap
	position: absolute
	max-width: 60px
	bottom: 0
	right: 0
.product_maker_logo
	width: 100%

.product_images_list
	display: flex
	flex-wrap: wrap
	margin-right: -10px

.product_images_item
	width: calc( 100%/5 - 10px )
	position: relative
	margin-right: 10px
	margin-bottom: 10px
	&::before
		content: ''
		display: block
		padding-top: 100%

.product_images_link
	position: absolute
	inset: 0
	display: block
	overflow: hidden
	box-sizing: border-box
	border: 1px solid transparent
	border-radius: 3px
	transition: border-color 0.25s ease 0s
	&:hover,
	&:focus
		//border-color: $bg_l

.product_images_prev
	display: block
	width: 100%
	height: 100%
	object-fit: cover
	object-position: center

.product_info_block
	width: 100%
	order: 3
	//border: 1px solid #777

.product_info_scu
	font-size: .9rem
	color: $artNamber
	line-height: 1.5
	margin-bottom: .5rem
	padding: 0 15px
.product_info_txt
	font-size: .9rem
	color: $txt_l
	line-height: 1.5
	padding: 0 15px
.product_info_gift_item
	position: relative
	border: 3px solid $bg_l
	border-radius: 4px
	padding: 10px 15px
	margin-bottom: 1rem

	&::after
		content: ''
		height: 0
		width: 0
		position: absolute
		top: 1rem
		right: -22px
		border: 10px solid transparent
		border-left: 10px solid $bg_l



.product_info_gift_h3
	font-size: .95rem
	font-weight: 600
	line-height: 1.5

.product_info_gift_inner
	display: flex

.product_info_gift_img_wrap
	width: 70px
	height: 70px
	border: 1px solid  $border
	border-radius: 3px
	overflow: hidden
	margin-right: 15px

.product_info_gift_img
	width: 100%
.product_info_gift_txt
	width: calc( 100% - 85px )
	font-size: .8rem
	color: $txtb
	line-height: 1.5
.product_info_warranty_wrap
	border: 1px solid  $border
	border-radius: 3px
	padding: 10px 15px 15px 15px
	margin-bottom: 1rem
.product_info_warranty_h3
	font-size: .95rem
	font-weight: 600
	line-height: 1.5
.product_info_warranty
	display: inline-block
	background-color: $bg_l
	border: 1px solid $bg_l
	border-radius: 3px
	word-spacing: .15rem
	font-size: .9rem
	line-height: .9rem
	color: #fff
	padding: 6px 10px
.product_info_benefit_ul
	list-style: none
	padding: 1rem 15px 1rem 25px
.product_info_benefit_li
	display: flex
	margin-bottom: .5rem

.product_info_benefit_icon_wrap
	display: flex
	justify-content: center
	width: 50px
	height: 50px
	margin-right: 20px
	border: 1px solid $bg_d
	border-radius: 50%
.product_info_benefit_icon
	display: block
	justify-self: center
	width: 22px
	height: auto
.product_info_benefit_txt
	display: flex
	align-content: center
	align-items: center
	width: calc( 100% - 71px )
	font-size: .85rem
	line-height: 1.5
	color: $txt_l

.product_buy_block
	width: 100%
	order: 2
	background-color: $gray_d
	margin-bottom: 2rem
	//border: 1px solid #777

.product_buy_inner
	width: 250px
	margin: 0 auto
	background-color: $gray_d
	border: none
	border-radius: 5px
	padding: 20px

.product_buy_price_block
	display: block
	margin-bottom: 1rem
.product_buy_price_old
	display: block
	text-align: center
	color: $artNamber
	font-size: .9rem
	line-height: .9rem
	text-decoration: line-through
	margin-bottom: .375rem
.product_buy_price_benefit
	display: block
	text-align: center
	font-size: .85rem
	line-height: .85rem
	color: $sale
	margin-bottom: .5rem
.product_buy_price
	display: block
	text-align: center
	font-size: 1.5rem
	font-weight: 600
	color: #000

.product_buy_price_count
	font-size: .8rem
	font-weight: normal
	color: $txt_l

.product_buy_price_empty
	display: block
	text-align: center
	color: $artNamber
	font-size: .9rem

.product_buy_form
	display: flex
	flex-direction: column
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button
		-webkit-appearance: none
		margin: 0
	input[type=number]
		-moz-appearance: textfield
		&::-webkit-input-placeholder
			color: lighten($txtb, 35%)
		&::-moz-placeholder
			color: lighten($txtb, 35%)
		&:-ms-input-placeholder
			color: lighten($txtb, 35%)


.product_buy_counter_wrap
	width: 102px
	display: flex
	box-sizing: border-box
	border: 3px solid darken($border, 4%)
	text-align: center
	margin: 0 auto .75rem auto
.product_buy_counter__btn
	width: 28px
	height: 25px
	box-sizing: border-box
	line-height: 25px
	background-color: darken($border, 4%)
	//line-height: 26px
	text-align: center
	transition: color .2s ease-out
	cursor: pointer
	&:hover,
	&:focus
		color: $txtb

.product_buy_counter__btn.plus
	padding-left: 3px
.product_buy_counter__btn.minus
	padding-right: 3px
.product_buy_counter__value
		width: 40px
		height: 25px
		box-sizing: border-box
		text-align: center
		border: 0
		color: $txtb
		background-color: #fff
		border-radius: 0
		text-align: center
		overflow: hidden

.product_buy_btn
	width: 100%
	height: 38px
	display: block
	box-sizing: border-box
	font-size: 1rem
	line-height: 38px
	font-weight: 600
	text-decoration: none
	text-transform: uppercase
	box-sizing: border-box
	border-radius: 4px
	color: #fff
	background-color: $bg_l
	border: 0
	transition: color 0.25s ease 0s, background-color 0.25s ease 0s
	margin-bottom: .5rem
	&:hover,
	&:focus
		text-decoration: none
		color: #ffffff
		background-color: $txtb
	.icon-cart
		display: inline-block
		margin-right: .5rem
		color: #fff
.product_buy_btn_click
	width: 100%
	height: 32px
	display: block
	box-sizing: border-box
	font-size: .7rem
	letter-spacing: 1px
	line-height: 32px
	font-weight: 400
	text-align: center
	text-decoration: none
	text-transform: uppercase
	box-sizing: border-box
	border-radius: 4px
	color: $txtb
	background-color: $border
	border: 0
	cursor: pointer
	transition: color 0.25s ease 0s, background-color 0.25s ease 0s
	margin-bottom: .25rem
	&:hover,
	&:focus
		text-decoration: none
		color: #ffffff
		background-color: $txtb
		.icon-power
			color: #fff
	.icon-power
		display: inline-block
		font-size: .8rem
		margin-right: .5rem
		color: $formBtn
.product_buy_btn_extra
	width: 100%
	height: 32px
	display: block
	box-sizing: border-box
	font-size: .65rem
	letter-spacing: 1px
	line-height: 32px
	font-weight: 400
	text-align: center
	text-decoration: none
	text-transform: uppercase
	box-sizing: border-box
	border: 1px solid $border
	box-sizing: border-box
	border-radius: 4px
	color: $txtb
	background-color: transparent
	cursor: pointer
	transition: border-color 0.25s ease 0s, color 0.25s ease 0s, background-color 0.25s ease 0s
	margin-bottom: .25rem
	&:hover,
	&:focus
		text-decoration: none
		color: #ffffff
		background-color: $txtb
		border-color: $txtb
		.icon-comment-dots1,
		.icon-credit-card1,
		.icon-truck1
			color: #fff
	.icon-comment-dots1,
	.icon-credit-card1,
	.icon-truck1
		display: inline-block
		font-size: .9rem
		//line-height: 1rem
		margin-right: .5rem
		color: $formBtn


.product_buy_btn_empty
	width: 100%
	height: 38px
	display: block
	box-sizing: border-box
	font-size: .75rem
	line-height: 38px
	font-weight: 400
	text-decoration: none
	text-transform: uppercase
	text-align: center
	box-sizing: border-box
	border-radius: 4px
	color: #fff
	background-color: $bg_l
	border: 0
	transition: color 0.25s ease 0s, background-color 0.25s ease 0s
	margin-bottom: .5rem
	&:hover,
	&:focus
		text-decoration: none
		color: #ffffff
		background-color: $txtb
	.icon-bubble2
		display: inline-block
		margin-right: .5rem
		font-size: 1rem
		color: #fff




.product_buy_payment_ul
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	list-style: none
	padding: .5rem 0
	margin: 0

.product_buy_payment_li
	display: block
	width: 66px
	height: 30px
	overflow: hidden
	position: relative
	font-size: 0
	border: none
	border-radius: 3px
	background: 0 0
	background-image: url(/images/src/img/icons/payment_icons.png)
	background-repeat: no-repeat
	margin-bottom: 5px

.product_buy_payment_li.visa
	background-position: -71px 0
.product_buy_payment_li.master
	background-position: -142px 0
.product_buy_payment_li.world
	background-position: 0 0
.product_buy_payment_li.sber
	background-position: -284px 0
.product_buy_payment_li.cash
	background-position: -426px 0
.product_buy_payment_li.invoice
	background-position: -497px 0

.product_buy_law
	width: 250px
	margin-right: auto
	margin-left: auto
	background-color: $gray_d
	border: none
	border-radius: 5px
	padding: 15px 15px 15px 20px
	font-size: .79rem
	line-height: 1.5
	color: $artNamber





@media (min-width: 450px)
	.product_main_img_wrap
		width: 450px
		margin-left: auto
		margin-right: auto
	.product_images_list
		width: 100%
		justify-content: center
		gap: 10px
	.product_images_item
		width: 70px
		margin-right: 0
		margin-bottom: 0